body{
    background: #004B87;
}
.estiloLogin{
background-color: gray;
max-width: 400px;
min-width: 400px;
box-sizing: border-box;
background: rgba(255, 255, 255, 0.6);
box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
border-radius: 8px;
margin: 200px auto 0 auto;
padding: 25px;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letrasLoginTopo{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: #0E166CFF;
}

h1{
    display: block;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.buttonEstilo{
    margin: 15px;
    margin-inline-start: 40px;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

.textoSenhaSuperior{
    color: #004B87;
    font-size: 14px;
}

.textoEmailSuperior{
    color: #004B87;
    font-size: 14px;
}

.userIconEdit{
    font-size: 200px !important;
}

.centralizarLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}