body {
  background: #004b87;
}
.containerLogin {
  display: flex;
  max-width: 100%;
  height: 97.5vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.estiloLogin {
  background-color: gray;
  max-width: 400px;
  min-width: 400px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 4px 2px 16px rgb(0 0 0 / 40%);
  padding: 25px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.letrasLoginTopo {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #0e166cff;
}

h1 {
  display: block;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.buttonEstilo {
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  border: none;
}
.buttonEstilo:hover {
  background-color: gray;
}

.textoSenhaSuperior {
  color: #004b87;
  font-size: 14px;
}

.textoEmailSuperior {
  color: #004b87;
  font-size: 14px;
}

.userIconEdit {
  font-size: 200px !important;
}

.centralizarLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
